<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tema</title>
    <style>
      .d {
        width: 50px;
        height: 50px;
        background-color: black;
        display: inline-block;
        margin-right: 20px;
      }
    </style>
  </head>
  <body>
    <div id="tema">
      <button v-on:click="create">generate collors</button>
      <br />
      <br>
      <div v-for="element in randomSpots.slice(0,4)" style="display: inline;" >
        <div v-on:click="verify(element)" class="d" :id="element"></div>
      </div>

      <br />
<br>

      <div  v-for="element in randomSpots.slice(4,8)" style="display: inline;">
        <div v-on:click="verify(element)" class="d" :id="element"></div>
      </div>
      <br />
      <br>
      <div v-for="element in randomSpots.slice(8,12)" style="display: inline;" >
        <div v-on:click="verify(element)" class="d" :id="element"></div>
      </div>
      <br />
      <br>
      <div  v-for="element in randomSpots.slice(12,16)" style="display: inline;">
        <div v-on:click="verify(element)" class="d" :id="element"></div>
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="t.js"></script>
  </body>
</html>
